mixin popups()
  +b.popups&attributes(attributes)
    +popup-sales()
    +popup-types()
    +popup-categories()
    +popup-location()
    +callform()

mixin popup()
  +b.popup&attributes(attributes)
    block

mixin popup-list(heading, name, value, texts, colors)
  +e.list&attributes(attributes)
    +e.P.list-heading= heading
    +e.UL.list-items
      - for (var i = 0; i < texts.length; i++)
        +popup-label(name, value + i, texts[i], colors ? colors[i] : 'yellow')

mixin popup-label(name, value, text, color)
  +e.LI.list-item
    +e.LABEL.label
      input(type='checkbox' name=name value=value data-color=color ? color : 'yellow' data-id=value)
      +e.SPAN.label-icon(class='_' + (color ? color : 'yellow'))
      +e.SPAN.label-text= text
      
mixin label-count(value, text)
  +e.LABEL.count-item
    input(type='radio' name='count' value=value)
    +e.SPAN.count-radio
    +e.SPAN.count-text= text

//- popup-sales

mixin popup-sales()
  +b.popup._sales#salespopup&attributes(attributes)
    +e.FORM.container
      +e.A(href='#').close
        +e.SPAN.close-text Закрыть
        +e.SPAN.close-icon
      +e.P.heading Выберите подходящую акцию
      +e.UL.sales
        +label-sale('sales', 'sale1', 'Любая')
        +label-sale('sales', 'sale2', 'Час в подарок')
        +label-sale('sales', 'sale3', 'День рождения')
        +label-sale('sales', 'sale4', 'Подарок от заведения')
        +label-sale('sales', 'sale5', 'Скидка на СПА (SPA)')
        +label-sale('sales', 'sale6', 'Мальчишник')
        +label-sale('sales', 'sale7', 'Девичник')
        +label-sale('sales', 'sale8', 'Подарок от заведения')
        +label-sale('sales', 'sale9', 'Подарок от заведения')
      +e.button-block
        +e.BUTTON.button Показать 251 сауну
        +e.P.error Ничего не найдено. Попробуйте использовать другие параметры
      
mixin label-sale(name, value, text)
  +e.LI.sales-item
    +e.LABEL.sale
      input(type='radio' name=name value=value)
      +e.SPAN.sale-icon
        +icon('diamond')
      +e.P.sale-text= text
        +e.SPAN.sale-check
          +icon('check')

//- popup-types

mixin popup-types()
  +b.popup._types#typespopup&attributes(attributes)
    +e.FORM.container
      +e.A(href='#').close
        +e.SPAN.close-text Закрыть
        +e.SPAN.close-icon
      +e.P.heading Выберите тип сауны
      +e.UL.sales
        +label-sale('types', 'type1', 'Любой')
        +label-sale('types', 'type2', 'Элитный отдых')
        +label-sale('types', 'type3', 'Отдохнуть вдвоем')
        +label-sale('types', 'type4', 'Провести мероприятие')
        +label-sale('types', 'type5', 'Попариться')
        +label-sale('types', 'type6', 'Отдохнуть компанией')
      +e.button-block
        +e.BUTTON.button Показать 251 сауну
        +e.P.error Ничего не найдено. Попробуйте использовать другие параметры

//- popup-categories

mixin popup-categories()
  +b.popup._categories#categoriespopup&attributes(attributes)
    +e.FORM.container.error
      +e.A(href='#').close
        +e.SPAN.close-text Закрыть
        +e.SPAN.close-icon
      +e.P.heading._small Поиск по категориям
        +e.SPAN.reset
          a(href='#') очистить форму
      +e.categories
        +e.cols._wrap
          +e.col
            +popup-list('Вид парной', 'category', 'category1', ['Финская парная', 'Турецкий хамам', 'Баня на дровах', 'Инфракрасная сауна', 'Русская баня', 'Японская баня Офуро'])
          +e.col
            +popup-list('Кухня', 'category', 'category2', ['Ресторан', 'Мангал', 'Алкоголь', 'Разливное пиво', 'Япоские суши', 'Можно со своими продуктами'])
          +e.col
            +popup-list('Услуги', 'category', 'category3', ['Веники', 'Банщик', 'СПА терапия', 'Спортивный массаж', 'Эротический массаж', 'Кальян'])
          +e.col
            +popup-list('Сервис', 'category', 'category4', ['Караоке', 'Бильярд', 'Джакузи', 'Бассейн', 'Купель', 'Комната отдыха', 'Спуниковое ТВ', 'Парковка'])
          +e.col
            +popup-list('Стоимость', 'category', 'category5', ['Любая', 'до 700 ₽/час', '700-1000 ₽/час', '1000-1500 ₽/час', '1500-2000 ₽/час', '2000-3000 ₽/час', 'от 3000 ₽/час'], ['blue'])
      +e.count
        +e.P.count-heading Вместимость сауны
        +label-count('2', 'двое')
        +label-count('10', 'до 10')
        +label-count('20', '10-20')
        +label-count('max', 'от 20 человек')
        +e.count-groups
          +e.count-group
            +icon('person').__count-icon(data-count='1')
            +icon('person').__count-icon(data-count='2')
            +icon('person').__count-icon(data-count='3')
            +icon('person').__count-icon(data-count='4')
            +icon('person').__count-icon(data-count='5')
          +e.count-group
            +icon('person').__count-icon(data-count='6')
            +icon('person').__count-icon(data-count='7')
            +icon('person').__count-icon(data-count='8')
            +icon('person').__count-icon(data-count='9')
            +icon('person').__count-icon(data-count='10')
          +e.count-group
            +icon('person').__count-icon(data-count='11')
            +icon('person').__count-icon(data-count='12')
            +icon('person').__count-icon(data-count='13')
            +icon('person').__count-icon(data-count='14')
            +icon('person').__count-icon(data-count='15')
          +e.count-group
            +icon('person').__count-icon(data-count='16')
            +icon('person').__count-icon(data-count='17')
            +icon('person').__count-icon(data-count='18')
            +icon('person').__count-icon(data-count='19')
            +icon('person').__count-icon(data-count='20')
        +label-count('any', 'любая')
      +e.bottom
        +e.bottom-left
          +e.filters.is-empty
            +e.P.filter.is-hidden
              +e.SPAN.filter-text
              +e.A(href='#').filter-close
            +e.A(href='#' data-reset).filter._grey._normal Сбросить фильтры
        +e.bottom-right
          +e.A(href='#' data-reset).button._grey._small.show-md Сбросить
          +e.BUTTON.button._blue._big Показать 251 сауну
          +e.P.error Ничего не найдено. Попробуйте использовать другие параметры

//- popup-location

mixin popup-location()
  +b.popup._location#locationpopup&attributes(attributes)
    +e.container
      +e.A(href='#').close
        +e.SPAN.close-text Закрыть
        +e.SPAN.close-icon
      +e.P.heading._medium Расположение:
        +e.tab-links
          +e.A(href='#' data-tab-target='map').tab-link.active на карте
          +e.A(href='#' data-tab-target='metro').tab-link по метро
          +e.A(href='#' data-tab-target='districts').tab-link по районам
      +e.FORM.tab(data-tab='map' data-tab-group='locations').active
        +e.map-top
          +e.A(href='#').map-link Любое расположение
          +e.P.address Адрес: Москва, ул. Арбат 1
          +e.controls
            +e.A(href='#' data-control='minus').control -
            +e.SPAN.controls-text 22 км
            +e.A(href='#' data-control='plus').control +
        +e.map#popupmap
        +e.map-bottom
          +e.LABEL.checkbox
            input(type='checkbox')
            +e.SPAN.checkbox-box
              +icon('check')
            +e.SPAN.checkbox-text Показать все сауны на карте
          +e.P.map-hint Выберите  точку на карте, либо введите адрес или метро
        +e.button-block
          +e.BUTTON.button Показать 251 сауну
          +e.P.error Ничего не найдено. Попробуйте использовать другие параметры
      +e.FORM.tab(data-tab='metro' data-tab-group='locations')
        +e.metro-top
          +e.P.metro-hint Выберите  станции метро
        +e.metro
          +e.cols._scrollable
            +e.col
              +popup-list('А', 'metro', 'metroa', ['Авиамоторная', 'Автозаводская', 'Академическая', 'Александровский Сад', 'Алексеевская', 'Алма-Атинская', 'Алтуфьево', 'Аннино', 'Арбатская', 'Аэропорт'], ['green', 'yellow', 'darkred'])
              +popup-list('Б', 'metro', 'metrob1', ['Бабушкинская', 'Багратионовская', 'Баррикадная', 'Бауманская', 'Беговая'], ['grey', 'yellow'])
            +e.col
              +popup-list('Б', 'metro', 'metrob2', ['Бабушкинская', 'Багратионовская', 'Баррикадная', 'Бауманская', 'Беговая'])
              +popup-list('В', 'metro', 'metrov', ['Вагнеровская', 'Варшавская', 'ВДНХ (станция)', 'Владыкино', 'Водный стадион', 'Волгоградский проспект', 'Волжская', 'Волоколамская', 'Воробьёвы горы', 'Выставочная'])
            +e.col
              +popup-list('Г', 'metro', 'metrog', ['Город Мастеров', 'Гуляй-поле'])
              +popup-list('Д', 'metro', 'metrod', ['Дарвиновская', 'Деловой центр', 'Дзержинская', 'Динамо (Москва)', 'Дмитровская', 'Добрынинская', 'Домодедовская', 'Донская', 'Достоевская', 'Дубровка', 'Выхино'])
              +popup-list('Ж', 'metro', 'metrozh', ['Жулебино'])
            +e.col
              +popup-list('И', 'metro', 'metroi1', ['Измайловская'])
              +popup-list('З', 'metro', 'metroz', ['Знамя Революции', 'Зябликово'])
              +popup-list('К', 'metro', 'metrok1', ['Калужская', 'Кантемировская', 'Каховская', 'Каширская', 'Киевская (Арбатско-Покровская линия)', 'Киевская (Кольцевая линия)', 'Киевская (Филёвская линия)', 'Кировская (Москва)', 'Китай-город', 'Кожуховская'])
            +e.col
              +popup-list('К', 'metro', 'metrok2', ['Красногвардейская', 'Краснопресненская', 'Красносельская', 'Красные ворота', 'Крестьянская Застава', 'Кропоткинская', 'Крылатское', 'Кузнецкий Мост (станция)', 'Кузьминки', 'Кунцевская', 'Курская (Арбатско-Покровская линия)', 'Курская (Кольцевая линия)', 'Кутузовская'])
            +e.col
              +popup-list('И', 'metro', 'metroi2', ['Красногвардейская', 'Краснопресненская', 'Красносельская', 'Красные ворота', 'Крестьянская Застава', 'Кропоткинская', 'Крылатское', 'Кузнецкий Мост (станция)', 'Кузьминки', 'Кунцевская', 'Курская (Арбатско-Покровская линия)', 'Курская (Кольцевая линия)', 'Кутузовская'])
        +e.metro-bottom
          +e.filters.is-empty
            +e.P.filter._metro.is-hidden
              +e.SPAN.filter-text
              +e.A(href='#').filter-close
            +e.P.filter._darkgrey
              +e.SPAN.filter-text Сбросить все
              +e.A(href='#' data-reset).filter-close
        +e.button-block
          +e.BUTTON.button Показать 251 сауну
          +e.P.error Ничего не найдено. Попробуйте использовать другие параметры
      +e.FORM.tab(data-tab='districts' data-tab-group='locations')
        +e.districts
          +e.cols._scrollable
            +e.col
              +popup-list('А', 'district', 'districta1', ['Академический', 'Алексеевский', 'Алтуфьевский', 'Арбат', 'Аэропорт'])
              +popup-list('Б', 'district', 'districtb1', ['Бабушкинский', 'Басманный', 'Беговой', 'Бескудниковский', 'Бибирево', 'Бирюлёво Восточное', 'Бирюлёво Западное', 'Богородское', 'Братеево'])
            +e.col
              +popup-list('Г', 'district', 'districtg', ['Академический', 'Алексеевский', 'Алтуфьевский', 'Арбат', 'Аэропорт'])
              +popup-list('Д', 'district', 'districtd', ['Бабушкинский', 'Басманный', 'Беговой', 'Бескудниковский', 'Бибирево', 'Бирюлёво Восточное', 'Бирюлёво Западное', 'Богородское', 'Братеево'])
            +e.col
              +popup-list('А', 'district', 'districta2', ['Академический', 'Алексеевский', 'Алтуфьевский', 'Арбат', 'Аэропорт'])
              +popup-list('Б', 'district', 'districtb2', ['Бабушкинский', 'Басманный', 'Беговой', 'Бескудниковский', 'Бибирево', 'Бирюлёво Восточное', 'Бирюлёво Западное', 'Богородское', 'Братеево'])
            +e.col
              +popup-list('А', 'district', 'districta3', ['Академический', 'Алексеевский', 'Алтуфьевский', 'Арбат', 'Аэропорт'])
              +popup-list('Б', 'district', 'districtb3', ['Бабушкинский', 'Басманный', 'Беговой', 'Бескудниковский', 'Бибирево', 'Бирюлёво Восточное', 'Бирюлёво Западное', 'Богородское', 'Братеево'])
            +e.col
              +popup-list('А', 'district', 'districta4', ['Академический', 'Алексеевский', 'Алтуфьевский', 'Арбат', 'Аэропорт'])
              +popup-list('Б', 'district', 'districtb4', ['Бабушкинский', 'Басманный', 'Беговой', 'Бескудниковский', 'Бибирево', 'Бирюлёво Восточное', 'Бирюлёво Западное', 'Богородское', 'Братеево'])
            +e.col
              +popup-list('А', 'district', 'districta5', ['Академический', 'Алексеевский', 'Алтуфьевский', 'Арбат', 'Аэропорт'])
              +popup-list('Б', 'district', 'districtb5', ['Бабушкинский', 'Басманный', 'Беговой', 'Бескудниковский', 'Бибирево', 'Бирюлёво Восточное', 'Бирюлёво Западное', 'Богородское', 'Братеево'])
        +e.districts-bottom
          +e.filters.is-empty
            +e.P.filter._metro.is-hidden
              +e.SPAN.filter-text
              +e.A(href='#').filter-close
            +e.P.filter._darkgrey
              +e.SPAN.filter-text Сбросить все
              +e.A(href='#' data-reset).filter-close
        +e.button-block
          +e.BUTTON.button Показать 251 сауну
          +e.P.error Ничего не найдено. Попробуйте использовать другие параметры

//- callform

mixin callform()
  +b.callform#callform&attributes(attributes)
    +e.heading
      +e.A(href='#').link Сауна Чикаго Голд
    +e.tels
      +e.A(href='tel:+74951234567').tel +7(495)123-4567
      +e.A(href='tel:+74952345678').tel +7(495)234-5678
    +e.FORM.form
      +e.P.text Оставьте свой номер телефона 
        br
        | и вам перезвонят в течении 
        br
        | нескольких минут
      +e.field
        +e.INPUT(type='tel' name='tel').input
        +e.BUTTON.button ОК
      +e.P.subtext нажимая «ок» Я даю согласие на 
        br
        a(href='#') обработку персональных данных
    +e.bottom
      +e.A(href='#').close Закрыть
